aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
async-timeout==4.0.3
attrs==25.3.0
autograder-py==0.6.12
awscli==1.22.34
beautifulsoup4==4.13.3
blinker==1.4
botocore==1.23.34
certifi==2025.4.26
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.2
click==8.2.0
colorama==0.4.6
command-not-found==0.3
contourpy==1.2.1
cryptography==3.4.8
cycler==0.12.1
dataclasses-json==0.6.7
dbus-python==1.2.18
Deprecated==1.2.18
deprecation==2.1.0
dirtyjson==1.0.8
distro==1.9.0
distro-info==1.1+ubuntu0.1
docutils==0.17.1
exceptiongroup==1.3.0
fastapi==0.115.12
filelock==3.17.0
filetype==1.2.0
flake8==7.2.0
fonttools==4.51.0
frozenlist==1.6.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.44
gotrue==2.12.0
gprof2dot==2022.7.29
greenlet==3.2.2
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.20.2
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
hyperframe==6.1.0
idna==3.10
importlib-metadata==4.6.4
iniconfig==2.1.0
jeepney==0.7.1
jiter==0.9.0
jmespath==0.10.0
joblib==1.5.0
jsonpatch==1.33
jsonpointer==3.0.0
keyring==23.5.0
kiwisolver==1.4.5
langchain==0.3.25
langchain-community==0.3.17
langchain-core==0.3.59
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langgraph==0.4.3
langgraph-checkpoint==2.0.25
langgraph-checkpoint-postgres==2.0.21
langgraph-prebuilt==0.1.8
langgraph-sdk==0.1.66
langsmith==0.3.42
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llama-cloud==0.1.11
llama-cloud-services==0.6.0
llama-index==0.12.16
llama-index-agent-openai==0.4.3
llama-index-cli==0.4.0
llama-index-core==0.12.16.post1
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.4
llama-index-llms-ollama==0.5.0
llama-index-llms-openai==0.3.18
llama-index-llms-openai-like==0.3.3
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.4
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.0
marshmallow==3.26.1
matplotlib==3.8.4
mccabe==0.7.0
more-itertools==8.10.0
msgpack==1.1.0
multidict==6.4.3
mypy-extensions==1.0.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.5
oauthlib==3.2.0
olefile==0.46
ollama==0.4.7
openai==1.78.0
orjson==3.10.18
ormsgpack==1.9.1
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.8
pluggy==1.5.0
postgrest==1.0.1
propcache==0.3.1
psycopg==3.2.7
psycopg-pool==3.2.6
pyasn1==0.4.8
pycodestyle==2.13.0
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.7.1
pydantic_core==2.33.2
pyflakes==3.3.2
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.10.1
pyparsing==2.4.7
pypdf==5.2.0
pytest==8.3.5
pytest-mock==3.14.0
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
rank-bm25==0.2.2
realtime==2.4.3
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
roman==3.3
rsa==4.8
s3transfer==0.5.0
safetensors==0.5.2
SecretStorage==3.3.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.40
starlette==0.46.2
storage3==0.11.3
StrEnum==0.4.15
striprtf==0.0.26
supabase==2.15.1
supafunc==0.9.4
systemd-python==234
tenacity==9.1.2
tiktoken==0.9.0
tokenizers==0.21.0
tomli==2.2.1
tqdm==4.67.1
transformers==4.48.3
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.4.0
uvicorn==0.34.2
wadllib==1.3.6
websockets==14.2
wrapt==1.17.2
wsproto==1.0.0
xxhash==3.5.0
yarl==1.20.0
zipp==1.0.0
zstandard==0.23.0
